.nav-tabs {
	.nav-link.active {
		color: #f445bb;
	}
}

.nav-tabs {
	.nav-link:not(.active) {
		color: #232323;
	}
}


.nav-tabs {
	.nav-link {
		border-radius: 100px !important;
	}
}

a,
a:hover {
	color: #f445bb;
}

.navbar-logo {
	img {
		height: 5rem;
	}
}

