<section class="banner">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1><span>Anxietykillz</span> <span>Accessible Coaching</span> <span>&amp; Yoga</span></h1>
				<p>
					<span><strong>Bye-bye</strong> to deep backbends.</span>
					<span><strong>Hello</strong> to a more inclusive practice.</span>
				</p>
			</div>
		</div>
	</div>
</section>