	<footer class="container-fluid">
		<ul>
			<li><a href="./AboutUs.html">About Us</a></li>
			<li><a href="mailto:info@anxietykillz.com">Contact Us</a></li>
			<li><a href="./WhatIsAbleism.html">What is Ableism?</a></li>
			<li><a href="./Resources.html">Resources and Toolkits</a></li>
		</ul>
		<p>Copyright 2021 Anxietykillz Accessible Coaching and Yoga</p>
	</footer>